/* For Large screens */

@media (max-width: 1100px) {
    
    main{     
       width: 100%;
       margin-left: 0;
       margin: auto;
       height: 100vh;  
    }
    
    .logo img{
        display: none;
    }

    nav{
        margin: 0 50px;
    }

    nav ul li a{
        font-size: 17px;
    }

    .btn button{
        font-size: 17px !important;
        width: 120px;
        height: 40px;
        cursor: pointer;
    }

    .hero{
        width: 100%;
    }
  
    .hero h1{
        
        font-size: 40px;
        width: 90%;
        text-align: center;
        margin-right: 0;
        padding-left: 0;
        margin: auto;
    }

    .hero p{
        width: 60%;
        text-align: center;
        padding-left: 0;
        margin: auto;
        margin-top: 15px;
        font-size: 15px;      
    }

    .btn3{
       display: block;
        margin:30px auto !important;
        width: 10rem;
        font-size: 0.95rem;
        cursor: pointer;        
    }    
}

/* Small screens */

.mobile-nav{
    display: none;
}



@media (max-width: 820px) {
    .desktop-nav{
        display: none;
    }
    
    .mobile-nav{
        display: flex;
        margin: 0 10px;
    }

    .mobview-logo{
        cursor: pointer;
    }

    .menu-icon{
        cursor: pointer;
    }

    .menu{
        height: 100vh;
        position: absolute;
        top: 0;
        right: 0;
        width: 220px;
        background-color: #F5F5F5;;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        padding: 20px;
    }


    .close-icon{
        margin-top: 40px;
    }

    .divider{
        margin:40px 0px;
        border: 1px solid rgb(160, 158, 158);
        
    }

    .menu button{
        width: 100%;
        margin: 5px 0;
        font-size: 0.95rem;
    }

    .menu ul{
        text-align: center;
    }

    .menu ul li{
        list-style-type: none;
        margin-top: 40px;
    }

    .menu ul li a {
        text-decoration: none;
        font-size: 1rem;
        color: rgb(230, 30, 120);
        
    }
}
