@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200;300;400;500;600;700;800;900&family=Roboto&family=Source+Sans+Pro:wght@300&display=swap');
/* font-family: 'Inter', sans-serif; */

:root {
    --primary-color: rgb(230, 30, 120)
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Inter', sans-serif;
    max-width: 1440px;
    margin: 0 auto;
    max-height: 100vh;
}


nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 50px;
    padding-bottom: 0px;
    margin: 0px 110px;


}

nav ul {
    display: flex;
}

nav ul li {
    list-style: none;
}

nav ul li a {
    text-decoration: none;
    color: black;
    font-weight: 500;
    margin-right: 30px;
    font-size: 20px;
}

nav ul li a:hover {
    color: var(--primary-color);
    cursor: pointer;
    transition: all;
    transition-duration: 0.3s;
}

.line {
    border: 2px solid var(--primary-color);
    width: 32px;
    border-radius: 20px;
    margin-top: 8px;
    margin-left: 24px;
}

.btn button {
    margin-left: 20px;
    transition: all;
    transition-duration: 0.5s;
    font-size: 18px;
    height: 41px;
    width: 130px;
    border-radius: 6px;
}



.btn1 {

    background-color: var(--primary-color);
    color: white;
    border: 1px solid transparent;

}

.btn1:hover {

    background-color: white;
    color: var(--primary-color);
    border-color: var(--primary-color);
    cursor: pointer;

}

.btn2 {

    background-color: white;
    color: var(--primary-color);
    border: 1px solid var(--primary-color);
}

.btn2:hover {

    background-color: var(--primary-color);
    color: white;
    border-color: transparent;
    cursor: pointer;
}

main{
    padding: 30px 0;
    margin-top: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 105px;
}


.hero h1{
    width: 440px;
    font-size: 45px;
    margin-right: 145px;
    padding-left: 40px;
    font-weight: 600;
}

.hero h1 span{
    color: var(--primary-color);
}

.hero p{
    width: 300px;
    padding-left: 40px;
    margin-top: 20px;
    color: rgb(160, 158, 158);
}

.btn3{
    margin-left: 40px;
    margin-top: 30px;
    font-size: 18px;
    font-weight: 500;
    height: 45px;
    width: 220px;
    border-radius: 6px;
    background-color: var(--primary-color);
    color: white;
    border: 1px solid transparent;
}

.btn3:hover {

    background-color: white;
    color: var(--primary-color);
    border-color: var(--primary-color);
    cursor: pointer;
    transition: all;
    transition-duration: 0.5s;
}

.logo img{
    height: 350px;
    margin-right: 160px;
}


/* utility classes */

.hidden{
    display: none;
}

.visible{
    display: block;
}


